.product-selected-wrapper {
    max-width: 1190px;
    width: 100%;
    height: max-content;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    display: flex;
    flex-direction: column;
    .product-showcase {
        width: 100%;
        padding: 1.5rem;

        &--current-img {
            width: 100%;
            height: 450px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .product-info {
        width: 100%;
        padding: 2rem;

        &-name {
            font-size: 2rem;
            font-family: MediumPoppins;
        }
        &-pricing {
            margin-top: 1rem;
            padding: 1.5rem 2rem;
            background-color: $white10;

            .product-price {
                font-size: 3rem;
                font-family: SemiBoldPoppins;
                color: $green;
            }

            .product-lpg {
                display: flex;
                align-items: center;
                column-gap: 1.2rem;
                img {
                    width: 28px;
                }
            }
        }

        &-group {
            display: grid;
            grid-template-columns: minmax(0px, 110px) 1fr;
            align-items: baseline;
            margin-top: 2.5rem;
            &-content {
                .quantity-indicator {
                    display: flex;
                    align-items: center;
                    button {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    input {
                        width: 50px;
                        height: 32px;
                        text-align: center;
                    }

                    button,
                    input {
                        border: 1px solid $gray-border;
                    }
                    .quantity-availability {
                        margin-left: 1.5rem;
                    }
                }
            }
        }

        .product-cart-cta {
            margin-top: 2.5rem;
            display: flex;
            column-gap: 1.5rem;
            button {
                height: 4.8rem;
                padding: 0 2rem;
                cursor: pointer;
                border: 1px solid $green;

                font-size: 1.6rem;

                &:first-child {
                    display: flex;
                    align-items: center;
                    background-color: $green10;
                    color: $green;

                    svg {
                        font-size: 2rem;
                        margin-right: 1rem;
                    }
                }

                &:last-child {
                    background-color: $green;
                    color: $white;
                }
            }
        }
    }

    @include atMinMediumDevices {
        flex-direction: row;
        .product-showcase {
            max-width: 450px;
        }
    }
}
