*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: RegularPoppins;
    background-color: $body-color;
}

ul {
    list-style-type: none;
}

a {
    font-size: inherit;
}

button {
    font-family: inherit;
}
#root {
    display: grid;
    grid-template-rows: min-content 100vh 40px;

    @include atMinMediumDevices {
        grid-template-rows: 106px minmax(calc(100vh - 146px), 100%) 40px;
    }
}

.plsp-scrollbar {
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $green40;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $green;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
@font-face {
    font-family: RegularPoppins;
    src: url("../assets/font/Poppins-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: MediumPoppins;
    src: url("../assets/font/Poppins-Medium.ttf");
    font-style: normal;
}
@font-face {
    font-family: SemiBoldPoppins;
    src: url("../assets/font/Poppins-SemiBold.ttf");
    font-style: normal;
}
@font-face {
    font-family: BoldPoppins;
    src: url("../assets/font/Poppins-Bold.ttf");
    font-style: normal;
}
@font-face {
    font-family: XBoldPoppins;
    src: url("../assets/font/Poppins-ExtraBold.ttf");
    font-style: normal;
}
@font-face {
    font-family: BlackPoppins;
    src: url("../assets/font/Poppins-Black.ttf");
    font-style: normal;
}

@keyframes enter-cart-drawer {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hide-cart-drawer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
